#grid {
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: 300px 500px;
}

aside {
    border: solid 1px;
}


.sidebar {
    top: 0;
    z-index: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #6b7280;
    position: fixed;
    height: 100vh;
    overflow: auto;

}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    padding-left: 5px;
    color: #f1f5f9;

}

.item-spacing {
    padding-bottom: 30px;
}

svg {
    vertical-align: middle;
    display: inline-block;
}