* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

ul,
li {
    padding-left: 0;
    justify-content: left;
    list-style-type: none;
    padding-bottom: 15px;
}

button {
    color: white;
    background-color: #1c94d3;
    border: 0;
    border-radius: 14px;
    width: 70px;
    height: 25px;
    margin-right: 30px;
}

img {
    height: 50px;
    width: auto;
    border-radius: 24px;
    margin-right: 15px;
}

#header>div.user-section.mt>div>div>span>p {
    font-size: 13px;
}

.user-intro {
    display: inline-block;
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
}

.user-profile {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 30px;
}

.mt {
    margin-top: 30px;
}

.user-section {}

.search-bar {
    background-color: #e2e8f0;
    border: 0;
    border-radius: 10px;
    width: 670px;
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 0;
}

.buttons {
    position: absolute;
    right: 0;
}

#container {
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr auto;
}


#sidebar {
    grid-row: 1;
    grid-column: 1;
    background-color: #1992d4;
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    height: 100vh;
    grid-row: 1 / 3;
}

#header {
    padding-left: 2rem;
    padding-top: 2rem;
    height: 100vh;
}

#sidebar>ul>b>span>li {
    padding-bottom: 2rem;
    font-weight: 900;
}

#sidebar>ul>b>li:nth-child(8) {
    padding-top: 2rem;
}

#sidebar,
.user-profile,
.user-section,
header,
article,
.buttons,
#container {
    display: grid;
}

article {
    grid-row: 2 / 2;
    height: 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid blue;
}

.container {
    padding: 2px 16px;
}